<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hash.nishant.dbs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MICROPHONE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.audio.low_latency"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature android:name="android.hardware.audio.pro"/>
    <uses-feature android:name="android.hardware.microphone"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".First_entry.Login"/>
        <activity android:name=".First_entry.PinSetup"/>
        <activity android:name=".Home.Home"/>
        <activity android:name=".Standard_Entry.QuickAccess"/>
        <activity android:name=".SplashScreen.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Chat.Chat">
        </activity>
        <activity android:name=".Phone.PhoneActivity">
        </activity>
        <activity android:name=".Status.StatusActivity">
        </activity>
        <activity android:name=".Team.TeamActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <activity android:name=".Utility.Registration">
        </activity>
    </application>

</manifest>